In [6]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as pyplot

In [7]:
df  = pd.read_csv('world_population_by_year_1950_2023.csv')
df1 = pd.read_csv('world_population_by_country_2023.csv')
df2 = pd.read_csv('world_country_stats.csv')

In [8]:
df.head(10)

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,Afghanistan,7480461,7571537,7667533,7764546,7864285,7971931,8087727,8210201,8333826,...,32716210,33753499,34636207,35643418,36686784,37769499,38972230,40099462,41128771,42239854
1,Albania,1252582,1289168,1326948,1366744,1409005,1453730,1500624,1549571,1600983,...,2884102,2882481,2881063,2879355,2877013,2873883,2866849,2854710,2842321,2832439
2,Algeria,9019866,9271734,9521702,9771686,10011541,10242288,10473168,10703251,10933784,...,38760168,39543154,40339329,41136546,41927007,42705368,43451666,44177969,44903225,45606480
3,American Samoa,19032,19425,19561,19670,19758,19826,19902,19937,19918,...,52217,51368,50448,49463,48424,47321,46189,45035,44273,43914
4,Andorra,6005,5827,5454,5308,5566,6116,6705,7330,7994,...,71621,71746,72540,73837,75013,76343,77700,79034,79824,80088
5,Angola,4478184,4569738,4663958,4758724,4850458,4938118,5022109,5104328,5185839,...,27128337,28127721,29154746,30208628,31273533,32353588,33428486,34503774,35588987,36684202
6,Anguilla,5017,5244,5403,5529,5659,5752,5787,5793,5783,...,14120,14525,14813,15015,15181,15380,15585,15753,15857,15899
7,Antigua and Barbuda,45435,46398,47359,48317,49280,50264,51250,52245,53263,...,89236,89941,90564,91119,91626,92117,92664,93219,93763,94298
8,Argentina,17017742,17354612,17693853,18032740,18369249,18700686,19031192,19363786,19695352,...,42824054,43257065,43668241,44054616,44413596,44745520,45036032,45276780,45510318,45773884
9,Armenia,1385041,1424000,1465061,1508559,1554921,1604376,1657515,1714534,1774816,...,2889930,2878595,2865835,2851923,2836557,2820602,2805608,2790974,2780469,2777970

In [9]:
df1.head(10)

,country,population,yearly_change,net_change,density,land_area,net_migrants,fertility_rate,median_age,population_urban,world_share
0,Afghanistan,42239854,2.70,1111083,65,652860,-65846,4.4,17.0,26.0,0.53
1,Albania,2832439,-0.35,-9882,103,27400,-8000,1.4,38.0,67.0,0.04
2,Algeria,45606480,1.57,703255,19,2381740,-9999,2.8,28.0,75.0,0.57
3,American Samoa,43914,-0.81,-359,220,200,-790,2.2,29.0,NaN,0.00
4,Andorra,80088,0.33,264,170,470,200,1.1,43.0,85.0,0.00
5,Angola,36684202,3.08,1095215,29,1246700,-1000,5.1,16.0,68.0,0.46
6,Anguilla,15899,0.26,42,177,90,0,1.3,38.0,98.0,0.00
7,Antigua and Barbuda,94298,0.57,535,214,440,0,1.6,36.0,28.0,0.00
8,Argentina,45773884,0.58,263566,17,2736690,3718,1.9,32.0,94.0,0.57
9,Armenia,2777970,-0.09,-2499,98,28470,-5000,1.6,35.0,67.0,0.03

In [10]:
df2.head(10)

               country         region  land_area  fertility_rate  median_age
0          Afghanistan           Asia     652860             4.4        17.0
1              Albania         Europe      27400             1.4        38.0
2              Algeria         Africa    2381740             2.8        28.0
3       American Samoa        Oceania        200             2.2        29.0
4              Andorra         Europe        470             1.1        43.0
5               Angola         Africa    1246700             5.1        16.0
6             Anguilla  Latin America         90             1.3        38.0
7  Antigua and Barbuda  Latin America        440             1.6        36.0
8            Argentina  Latin America    2736690             1.9        32.0
9              Armenia           Asia      28470             1.6        35.0

In [11]:
df.describe()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
count,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,...,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02,2.340000e+02
mean,1.060606e+07,1.078925e+07,1.098646e+07,1.119572e+07,1.141202e+07,1.163833e+07,1.186801e+07,1.210572e+07,1.234909e+07,1.257493e+07,...,3.125388e+07,3.164059e+07,3.202471e+07,3.240741e+07,3.278013e+07,3.314117e+07,3.348146e+07,3.379041e+07,3.408942e+07,3.440720e+07
std,4.488759e+07,4.571543e+07,4.663866e+07,4.762696e+07,4.863591e+07,4.970247e+07,5.075729e+07,5.185848e+07,5.297185e+07,5.381933e+07,...,1.291005e+08,1.302910e+08,1.314736e+08,1.326604e+08,1.337445e+08,1.347105e+08,1.355623e+08,1.362261e+08,1.367846e+08,1.374289e+08
min,8.800000e+02,8.860000e+02,8.920000e+02,8.980000e+02,9.050000e+02,9.110000e+02,9.160000e+02,9.180000e+02,9.200000e+02,9.200000e+02,...,5.690000e+02,5.640000e+02,5.560000e+02,5.470000e+02,5.370000e+02,5.280000e+02,5.200000e+02,5.110000e+02,5.100000e+02,5.180000e+02
25%,9.098000e+04,9.329500e+04,9.547225e+04,9.767450e+04,1.000132e+05,1.050170e+05,1.101305e+05,1.153715e+05,1.208940e+05,1.268360e+05,...,4.166765e+05,4.249732e+05,4.330585e+05,4.408175e+05,4.481450e+05,4.544448e+05,4.599032e+05,4.643940e+05,4.676982e+05,4.696482e+05
50%,1.534497e+06,1.578288e+06,1.623089e+06,1.670437e+06,1.717782e+06,1.765724e+06,1.815721e+06,1.867528e+06,1.921003e+06,1.975904e+06,...,5.278746e+06,5.307400e+06,5.333896e+06,5.375878e+06,5.443904e+06,5.487730e+06,5.493074e+06,5.496573e+06,5.559944e+06,5.643895e+06
75%,5.961318e+06,6.072922e+06,6.164797e+06,6.283524e+06,6.474228e+06,6.714550e+06,6.911340e+06,6.987133e+06,7.214913e+06,7.437313e+06,...,1.983988e+07,1.973085e+07,1.966724e+07,1.980161e+07,2.027812e+07,2.085559e+07,2.144798e+07,2.187210e+07,2.247650e+07,2.324537e+07
max,5.439792e+08,5.536140e+08,5.649545e+08,5.773787e+08,5.899360e+08,6.033201e+08,6.162830e+08,6.300030e+08,6.437916e+08,6.521792e+08,...,1.385190e+09,1.393715e+09,1.401890e+09,1.410276e+09,1.417069e+09,1.421864e+09,1.424930e+09,1.425893e+09,1.425887e+09,1.428628e+09

In [12]:
df.size

17550

In [13]:
df.shape

(234, 75)

In [14]:
df.size

17550

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 75 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  234 non-null    object
 1   1950     234 non-null    int64
 2   1951     234 non-null    int64
 3   1952     234 non-null    int64
 4   1953     234 non-null    int64
 5   1954     234 non-null    int64
 6   1955     234 non-null    int64
 7   1956     234 non-null    int64
 8   1957     234 non-null    int64
 9   1958     234 non-null    int64
 10  1959     234 non-null    int64
 11  1960     234 non-null    int64
 12  1961     234 non-null    int64
 13  1962     234 non-null    int64
 14  1963     234 non-null    int64
 15  1964     234 non-null    int64
 16  1965     234 non-null    int64
 17  1966     234 non-null    int64
 18  1967     234 non-null    int64
 19  1968     234 non-null    int64
 20  1969     234 non-null    int64
 21  1970     234 non-null    int64
 22  1971     234 non-null    int64
 23  1972     234 non-null    int64
 24  1973     234 non-null    int64
 25  1974     234 non-null    int64
 26  1975     234 non-null    int64
 27  1976     234 non-null    int64
 28  1977     234 non-null    int64
 29  1978     234 non-null    int64
 30  1979     234 non-null    int64
 31  1980     234 non-null    int64
 32  1981     234 non-null    int64
 33  1982     234 non-null    int64
 34  1983     234 non-null    int64
 35  1984     234 non-null    int64
 36  1985     234 non-null    int64
 37  1986     234 non-null    int64
 38  1987     234 non-null    int64
 39  1988     234 non-null    int64
 40  1989     234 non-null    int64
 41  1990     234 non-null    int64
 42  1991     234 non-null    int64
 43  1992     234 non-null    int64
 44  1993     234 non-null    int64
 45  1994     234 non-null    int64
 46  1995     234 non-null    int64
 47  1996     234 non-null    int64
 48  1997     234 non-null    int64
 49  1998     234 non-null    int64
 50  1999     234 non-null    int64
 51  2000     234 non-null    int64
 52  2001     234 non-null    int64
 53  2002     234 non-null    int64
 54  2003     234 non-null    int64
 55  2004     234 non-null    int64
 56  2005     234 non-null    int64
 57  2006     234 non-null    int64
 58  2007     234 non-null    int64
 59  2008     234 non-null    int64
 60  2009     234 non-null    int64
 61  2010     234 non-null    int64
 62  2011     234 non-null    int64
 63  2012     234 non-null    int64
 64  2013     234 non-null    int64
 65  2014     234 non-null    int64
 66  2015     234 non-null    int64
 67  2016     234 non-null    int64
 68  2017     234 non-null    int64
 69  2018     234 non-null    int64
 70  2019     234 non-null    int64
 71  2020     234 non-null    int64
 72  2021     234 non-null    int64
 73  2022     234 non-null    int64
 74  2023     234 non-null    int64
dtypes: int64(74), object(1)
memory usage: 137.2+ KB

In [16]:
df.isnull()

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
230,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
231,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
232,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
233,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.isnull().sum()

country    0
1950       0
1951       0
1952       0
1953       0
          ..
2019       0
2020       0
2021       0
2022       0
2023       0
Length: 75, dtype: int64

In [18]:
df1.isnull()

,country,population,yearly_change,net_change,density,land_area,net_migrants,fertility_rate,median_age,population_urban,world_share
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,True,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
229,False,False,False,False,False,False,False,False,False,False,False
230,False,False,False,False,False,False,False,False,False,False,False
231,False,False,False,False,False,False,False,False,False,False,False
232,False,False,False,False,False,False,False,False,False,False,False
233,False,False,False,False,False,False,False,False,False,False,False

In [19]:
df1.isnull().sum()

country              0
population           0
yearly_change        0
net_change           0
density              0
land_area            0
net_migrants         0
fertility_rate       1
median_age           1
population_urban    18
world_share          0
dtype: int64

In [20]:
a = df.merge(df2,how='right')

In [21]:
a.head()

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,2018,2019,2020,2021,2022,2023,region,land_area,fertility_rate,median_age
0,Afghanistan,7480461,7571537,7667533,7764546,7864285,7971931,8087727,8210201,8333826,...,36686784,37769499,38972230,40099462,41128771,42239854,Asia,652860,4.4,17.0
1,Albania,1252582,1289168,1326948,1366744,1409005,1453730,1500624,1549571,1600983,...,2877013,2873883,2866849,2854710,2842321,2832439,Europe,27400,1.4,38.0
2,Algeria,9019866,9271734,9521702,9771686,10011541,10242288,10473168,10703251,10933784,...,41927007,42705368,43451666,44177969,44903225,45606480,Africa,2381740,2.8,28.0
3,American Samoa,19032,19425,19561,19670,19758,19826,19902,19937,19918,...,48424,47321,46189,45035,44273,43914,Oceania,200,2.2,29.0
4,Andorra,6005,5827,5454,5308,5566,6116,6705,7330,7994,...,75013,76343,77700,79034,79824,80088,Europe,470,1.1,43.0

In [22]:
all = a.merge(df1,how='right')

In [23]:
all.head()

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
0,Afghanistan,7480461.0,7571537.0,7667533.0,7764546.0,7864285.0,7971931.0,8087727.0,8210201.0,8333826.0,...,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,26.0,0.53
1,Albania,1252582.0,1289168.0,1326948.0,1366744.0,1409005.0,1453730.0,1500624.0,1549571.0,1600983.0,...,27400,1.4,38.0,2832439,-0.35,-9882,103,-8000,67.0,0.04
2,Algeria,9019866.0,9271734.0,9521702.0,9771686.0,10011541.0,10242288.0,10473168.0,10703251.0,10933784.0,...,2381740,2.8,28.0,45606480,1.57,703255,19,-9999,75.0,0.57
3,American Samoa,19032.0,19425.0,19561.0,19670.0,19758.0,19826.0,19902.0,19937.0,19918.0,...,200,2.2,29.0,43914,-0.81,-359,220,-790,NaN,0.00
4,Andorra,6005.0,5827.0,5454.0,5308.0,5566.0,6116.0,6705.0,7330.0,7994.0,...,470,1.1,43.0,80088,0.33,264,170,200,85.0,0.00

In [24]:
all.describe()

,1950,1951,1952,1953,1954,1955,1956,1957,1958,1959,...,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
count,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,2.270000e+02,...,2.340000e+02,233.000000,233.000000,2.340000e+02,234.000000,2.340000e+02,234.000000,2.340000e+02,216.000000,234.000000
mean,1.084901e+07,1.103627e+07,1.123793e+07,1.145196e+07,1.167318e+07,1.190465e+07,1.213950e+07,1.238257e+07,1.263145e+07,1.286217e+07,...,5.559568e+05,2.414163,31.309013,3.437565e+07,0.965470,3.000230e+05,477.414530,1.301282e+01,59.550926,0.427393
std,4.554973e+07,4.638984e+07,4.732679e+07,4.832979e+07,4.935372e+07,5.043613e+07,5.150661e+07,5.262415e+07,5.375403e+07,5.461387e+07,...,1.691024e+06,1.155913,9.628386,1.373861e+08,1.242413,1.001815e+06,2320.693692,1.698334e+05,23.826450,1.707829
min,8.800000e+02,8.860000e+02,8.920000e+02,8.980000e+02,9.050000e+02,9.110000e+02,9.160000e+02,9.180000e+02,9.200000e+02,9.200000e+02,...,0.000000e+00,0.800000,15.000000,5.180000e+02,-7.450000,-2.957105e+06,0.000000,-9.104750e+05,0.000000,0.000000
25%,1.111790e+05,1.137365e+05,1.164970e+05,1.194730e+05,1.226715e+05,1.260895e+05,1.297295e+05,1.336350e+05,1.378630e+05,1.423780e+05,...,2.650000e+03,1.600000,22.000000,4.696482e+05,0.222500,2.360000e+02,38.250000,-9.776750e+03,40.750000,0.010000
50%,1.542854e+06,1.582466e+06,1.637708e+06,1.692876e+06,1.745344e+06,1.796527e+06,1.849391e+06,1.904009e+06,1.960492e+06,2.018738e+06,...,7.972000e+04,2.000000,32.000000,5.643895e+06,0.805000,2.860150e+04,96.500000,-5.000000e+02,61.500000,0.070000
75%,5.995280e+06,6.099998e+06,6.221904e+06,6.365882e+06,6.547762e+06,6.769108e+06,6.964382e+06,7.082844e+06,7.304574e+06,7.462538e+06,...,4.070800e+05,3.000000,40.000000,2.324537e+07,1.685000,2.236855e+05,242.000000,4.750000e+02,79.250000,0.290000
max,5.439792e+08,5.536140e+08,5.649545e+08,5.773787e+08,5.899360e+08,6.033201e+08,6.162830e+08,6.300030e+08,6.437916e+08,6.521792e+08,...,1.637687e+07,6.700000,54.000000,1.428628e+09,4.980000,1.145449e+07,24360.000000,1.784718e+06,99.000000,17.760000

In [25]:
all.isnull().sum()

country              0
1950                 7
1951                 7
1952                 7
1953                 7
                    ..
net_change           0
density              0
net_migrants         0
population_urban    18
world_share          0
Length: 86, dtype: int64

In [26]:
all[['1950','1951','1952','1953','population_urban','world_share']] = all[['1950','1951','1952','1953','population_urban','world_share']].replace(np.nan,'unknown')

In [27]:
all.isnull().sum()

country             0
1950                0
1951                0
1952                0
1953                0
                   ..
net_change          0
density             0
net_migrants        0
population_urban    0
world_share         0
Length: 86, dtype: int64

In [28]:
all.isnull()

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
230,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
231,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
232,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
233,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [29]:
all.iloc[8:16]

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
8,Argentina,17017742.0,17354612.0,17693853.0,18032740.0,18369249.0,18700686.0,19031192.0,19363786.0,19695352.0,...,2736690,1.9,32.0,45773884,0.58,263566,17,3718,94.0,0.57
9,Armenia,1385041.0,1424000.0,1465061.0,1508559.0,1554921.0,1604376.0,1657515.0,1714534.0,1774816.0,...,28470,1.6,35.0,2777970,-0.09,-2499,98,-5000,67.0,0.03
10,Aruba,38797.0,40231.0,41758.0,43305.0,44869.0,46464.0,48094.0,49747.0,51404.0,...,180,1.2,42.0,106277,-0.16,-168,590,157,45.0,0.00
11,Australia,8177167.0,8419830.0,8632792.0,8819165.0,9003370.0,9209844.0,9429810.0,9644191.0,9853146.0,...,7682300,1.6,38.0,26439111,1.00,261698,3,139991,86.0,0.33
12,Austria,6936440.0,6930431.0,6927015.0,6931794.0,6939642.0,6946260.0,6951739.0,6965319.0,6986787.0,...,82409,1.5,43.0,8958960,0.22,19343,109,19999,59.0,0.11
13,Azerbaijan,3158966.0,3225280.0,3296850.0,3374174.0,3458184.0,3550017.0,3649871.0,3758021.0,3874677.0,...,82658,1.7,32.0,10412651,0.53,54577,126,0,57.0,0.13
14,Bahamas,81644.0,82895.0,84589.0,86739.0,89352.0,92444.0,96004.0,100005.0,104409.0,...,10010,1.4,33.0,412623,0.64,2639,41,1000,85.0,0.01
15,Bahrain,117149.0,120354.0,123685.0,127186.0,130895.0,134865.0,139171.0,143897.0,149077.0,...,760,1.8,34.0,1485509,0.90,13276,1955,0,unknown,0.02

### IN 2012 WHAT IS THE POPULATION IN COMPLETE ASIA

In [30]:
all[(all['region'] == 'Asia')]

,country,1950,1951,1952,1953,1954,1955,1956,1957,1958,...,land_area,fertility_rate,median_age,population,yearly_change,net_change,density,net_migrants,population_urban,world_share
0,Afghanistan,7480461.0,7571537.0,7667533.0,7764546.0,7864285.0,7971931.0,8087727.0,8210201.0,8333826.0,...,652860,4.4,17.0,42239854,2.70,1111083,65,-65846,26.0,0.53
9,Armenia,1385041.0,1424000.0,1465061.0,1508559.0,1554921.0,1604376.0,1657515.0,1714534.0,1774816.0,...,28470,1.6,35.0,2777970,-0.09,-2499,98,-5000,67.0,0.03
13,Azerbaijan,3158966.0,3225280.0,3296850.0,3374174.0,3458184.0,3550017.0,3649871.0,3758021.0,3874677.0,...,82658,1.7,32.0,10412651,0.53,54577,126,0,57.0,0.13
15,Bahrain,117149.0,120354.0,123685.0,127186.0,130895.0,134865.0,139171.0,143897.0,149077.0,...,760,1.8,34.0,1485509,0.90,13276,1955,0,unknown,0.02
16,Bangladesh,39728535.0,40548590.0,41426885.0,42329279.0,43282032.0,44315548.0,45407666.0,46560522.0,47742791.0,...,130170,1.9,27.0,172954319,1.03,1767947,1329,-309977,41.0,2.15
23,Bhutan,176367.0,179833.0,183545.0,187481.0,191638.0,196014.0,200607.0,205425.0,210468.0,...,38117,1.4,29.0,787424,0.64,4969,21,300,49.0,0.01
29,Brunei,48269.0,51093.0,54022.0,57177.0,60591.0,64267.0,68204.0,72376.0,76689.0,...,5270,1.7,33.0,452524,0.78,3522,86,0,80.0,0.01
33,Cambodia,4380380.0,4485391.0,4592875.0,4702061.0,4814378.0,4931224.0,5051841.0,5175949.0,5298409.0,...,176520,2.3,27.0,16944826,1.06,176984,96,-29998,26.0,0.21
42,China,543979233.0,553613988.0,564954522.0,577378682.0,589936004.0,603320147.0,616283022.0,630003025.0,643791581.0,...,9388211,1.2,39.0,1425671352,-0.02,-215985,152,-310220,65.0,17.72
52,Cyprus,493956.0,501274.0,508971.0,517021.0,525402.0,534125.0,543250.0,552883.0,563154.0,...,9240,1.3,39.0,1260138,0.69,8650,136,5000,65.0,0.02
76,Georgia,3517264.0,3557571.0,3599589.0,3643528.0,3689452.0,3738231.0,3791733.0,3849921.0,3912807.0,...,69490,2.1,37.0,3728282,-0.43,-16103,54,-9999,63.0,0.05
92,Hong Kong,1980524.0,2075503.0,2173597.0,2275010.0,2380472.0,2490487.0,2606293.0,2728466.0,2855692.0,...,1050,0.8,46.0,7491609,0.04,2744,7135,19999,unknown,0.09
95,India,357021100.0,364922360.0,372997188.0,381227705.0,389731406.0,398577992.0,407656597.0,416935399.0,426295763.0,...,2973190,2.0,28.0,1428627663,0.81,11454490,481,-486136,36.0,17.76
96,Indonesia,69567619.0,71019347.0,72570827.0,74207986.0,75925325.0,77741502.0,79661837.0,81690984.0,83818754.0,...,1811570,2.1,30.0,277534122,0.74,2032783,153,-49997,59.0,3.45
97,Iran,16832834.0,17219627.0,17614454.0,18017545.0,18434881.0,18873864.0,19332414.0,19805912.0,20295117.0,...,1628550,1.7,33.0,89172767,0.70,622197,55,-39998,74.0,1.11
98,Iraq,5656471.0,5783972.0,5930350.0,6089258.0,6252041.0,6405686.0,6552801.0,6683798.0,6796490.0,...,434320,3.4,20.0,45504560,2.27,1008438,105,-6000,71.0,0.57
101,Israel,1284157.0,1337630.0,1393191.0,1450457.0,1507412.0,1564960.0,1625669.0,1688678.0,1754788.0,...,21640,2.9,29.0,9174520,1.51,136211,424,9999,92.0,0.11
104,Japan,84353049.0,85683474.0,86921764.0,88057140.0,89093019.0,90090281.0,91021560.0,91837665.0,92671295.0,...,364555,1.3,49.0,123294513,-0.53,-657179,338,99994,94.0,1.53
105,Jordan,438386.0,469962.0,504576.0,541616.0,580796.0,622010.0,665071.0,709849.0,755904.0,...,88780,2.7,24.0,11337052,0.45,51183,128,-157392,85.0,0.14
106,Kazakhstan,6655675.0,6887970.0,7124072.0,7362289.0,7605944.0,7858733.0,8124175.0,8405659.0,8698748.0,...,2699700,3.0,30.0,19606633,1.08,208635,7,0,57.0,0.24
109,Kuwait,153738.0,157764.0,161988.0,166439.0,171095.0,183458.0,204028.0,223274.0,245827.0,...,17820,2.1,40.0,4310108,0.97,41235,242,11999,unknown,0.05
110,Kyrgyzstan,1751225.0,1787656.0,1824912.0,1863141.0,1902805.0,1944992.0,1990046.0,2038787.0,2091474.0,...,191800,2.9,24.0,6735347,1.58,104724,35,-9999,37.0,0.08
111,Laos,1684674.0,1725432.0,1766294.0,1807910.0,1850256.0,1893389.0,1937517.0,1982575.0,2028591.0,...,230800,2.4,24.0,7633779,1.39,104304,33,-9999,37.0,0.09
113,Lebanon,1349588.0,1388215.0,1428095.0,1469430.0,1512263.0,1556327.0,1601855.0,1649151.0,1697139.0,...,10230,2.1,29.0,5353930,-2.47,-135809,523,-177331,97.0,0.07
120,Macao,196838.0,200511.0,200829.0,199998.0,198232.0,195757.0,192720.0,189199.0,185291.0,...,30,1.1,39.0,704149,1.29,8981,23472,5000,97.0,0.01
123,Malaysia,5972876.0,6118736.0,6273219.0,6435027.0,6605394.0,6786077.0,6977024.0,7178108.0,7385689.0,...,328550,1.8,31.0,34308525,1.09,370304,104,48997,78.0,0.43
124,Maldives,74484.0,75816.0,77211.0,78659.0,80193.0,81823.0,83559.0,85417.0,87387.0,...,300,1.7,32.0,521021,-0.53,-2766,1737,-8652,39.0,0.01
136,Mongolia,781260.0,793053.0,805031.0,817516.0,830702.0,844997.0,864379.0,888961.0,915702.0,...,1553560,2.7,27.0,3447157,1.44,48791,2,-850,67.0,0.04
141,Myanmar,17731818.0,18053722.0,18391995.0,18749629.0,19126425.0,19522788.0,19935514.0,20363510.0,20801170.0,...,653290,2.1,30.0,54577997,0.74,398691,84,-34998,33.0,0.68
144,Nepal,8398945.0,8579831.0,8759894.0,8936482.0,9110777.0,9284895.0,9458896.0,9633243.0,9805019.0,...,143350,2.0,24.0,30896590,1.14,349010,216,-62012,22.0,0.38
152,North Korea,11103379.0,10557969.0,10228066.0,10147600.0,10206242.0,10360269.0,10552182.0,10802103.0,11106854.0,...,120410,1.8,36.0,26160821,0.35,91405,217,-2000,63.0,0.33
156,Oman,457317.0,463719.0,470396.0,477401.0,484741.0,492416.0,500443.0,508853.0,517707.0,...,309500,2.5,29.0,4644384,1.49,68086,15,0,unknown,0.06
157,Pakistan,37696264.0,38215785.0,38816777.0,39488228.0,40224090.0,41023128.0,41884995.0,42808511.0,43794993.0,...,770880,3.3,21.0,240485658,1.98,4660796,312,-165988,35.0,2.99
163,Philippines,18469878.0,19301117.0,20167861.0,21073747.0,22025355.0,23027910.0,24079343.0,25175946.0,26302696.0,...,298170,2.7,25.0,117337368,1.54,1778359,394,-69996,47.0,1.46
167,Qatar,24288.0,25093.0,25934.0,26798.0,27705.0,28668.0,29712.0,30880.0,32246.0,...,11610,1.8,34.0,2716391,0.79,21269,234,0,unknown,0.03
181,Saudi Arabia,3089693.0,3183582.0,3279345.0,3377019.0,3477534.0,3581910.0,3690028.0,3802027.0,3916797.0,...,2149690,2.4,31.0,36947025,1.48,538205,17,28998,83.0,0.46
186,Singapore,1006701.0,1048937.0,1096232.0,1148751.0,1206218.0,1267611.0,1332581.0,1400696.0,1469690.0,...,700,1.0,43.0,6014723,0.65,39034,8592,26998,unknown,0.07
193,South Korea,20104010.0,20116892.0,20393370.0,20862396.0,21432886.0,22075008.0,22763457.0,23494049.0,24256851.0,...,97230,0.9,44.0,51784059,-0.06,-31751,533,29998,82.0,0.64
196,Sri Lanka,7945977.0,8091461.0,8245475.0,8406910.0,8575075.0,8749627.0,8931095.0,9122978.0,9329666.0,...,62710,2.0,33.0,21893579,0.28,61436,349,-77495,19.0,0.27
198,State of Palestine,944807.0,953408.0,962908.0,973331.0,984729.0,997117.0,1010491.0,1024868.0,1040254.0,...,6020,3.4,20.0,5371230,2.31,121158,892,-5000,83.0,0.07
203,Syria,3543537.0,3620726.0,3703006.0,3791081.0,3886093.0,3989101.0,4099489.0,4216847.0,4341276.0,...,183630,2.7,22.0,23227014,4.98,1101765,126,757103,53.0,0.29
204,Taiwan,7623130.0,7934689.0,8251039.0,8572131.0,8897776.0,9229462.0,9567049.0,9909453.0,10256963.0,...,35410,1.2,42.0,23923276,0.13,29882,676,23999,80.0,0.30
205,Tajikistan,1526140.0,1582466.0,1637708.0,1692876.0,1748476.0,1805209.0,1863791.0,1924945.0,1989603.0,...,139960,3.1,22.0,10143543,1.92,190756,72,-19999,28.0,0.13
207,Thailand,20411638.0,20914570.0,21443932.0,21994681.0,22569794.0,23173970.0,23805336.0,24462194.0,25135270.0,...,510890,1.3,40.0,71801279,0.15,104249,141,18999,52.0,0.89
208,Timor-Leste,414791.0,418330.0,422538.0,427161.0,432128.0,437426.0,443039.0,448960.0,455175.0,...,14870,3.0,21.0,1360596,1.44,19300,91,-5000,35.0,0.02
214,Turkey,20977697.0,21519610.0,22094511.0,22690585.0,23267962.0,23821353.0,24473658.0,25238751.0,26007700.0,...,769630,1.9,32.0,85816199,0.56,474958,112,-318067,77.0,1.07
215,Turkmenistan,1214096.0,1237242.0,1263426.0,1293173.0,1326518.0,1363507.0,1404216.0,1448678.0,1496703.0,...,469930,2.6,26.0,6516100,1.33,85330,14,-4000,52.0,0.08
221,United Arab Emirates,74591.0,79763.0,85091.0,90559.0,96136.0,101803.0,107563.0,113430.0,119606.0,...,83600,1.4,34.0,9516871,0.80,75742,114,0,94.0,0.12
225,Uzbekistan,6247550.0,6408801.0,6576712.0,6754273.0,6941899.0,7141923.0,7355995.0,7582900.0,7824361.0,...,425400,2.8,27.0,35163944,1.55,536292,83,-19999,49.0,0.44
228,Vietnam,25109200.0,25627533.0,26189593.0,26820851.0,27507453.0,28263031.0,29035681.0,29884089.0,30804081.0,...,310070,1.9,33.0,98858950,0.68,672094,319,-82700,40.0,1.23
231,Yemen,4712810.0,4782787.0,4855822.0,4931833.0,5010564.0,5091603.0,5175088.0,5260779.0,5349846.0,...,527970,3.6,19.0,34449825,2.24,753211,65,-29914,37.0,0.43

In [34]:
all[(all['region'] == 'Asia')]['2012']

0      3.046648e+07
9      2.914421e+06
13     9.485576e+06
15     1.224939e+06
16     1.520906e+08
23     7.211450e+05
29     4.066340e+05
33     1.478664e+07
42     1.366561e+09
52     1.156556e+06
76     3.804356e+06
92     7.234060e+06
95     1.274487e+09
96     2.502227e+08
97     7.732445e+07
98     3.386445e+07
101    7.592106e+06
104    1.278537e+08
105    7.211863e+06
106    1.710286e+07
109    3.394663e+06
110    5.631950e+06
111    6.508803e+06
113    5.178337e+06
120    5.827660e+05
123    2.966021e+07
124    3.875390e+05
136    2.792349e+06
141    5.021818e+07
144    2.733069e+07
152    2.488777e+07
156    3.535579e+06
157    2.022059e+08
163    9.803232e+07
167    1.905660e+06
181    3.082154e+07
186    5.381005e+06
193    4.963418e+07
196    2.101715e+07
198    4.184161e+06
203    2.260558e+07
204    2.323406e+07
205    7.956382e+06
207    6.915702e+07
208    1.137676e+06
214    7.527744e+07
215    5.458682e+06
221    8.664969e+06
225    2.950305e+07
228    8.930133e+07
231    2.622339e+07
Name: 2012, dtype: float64